@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.lora-500 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:gainsboro;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header,
.appContent,
.footer {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.header {
    height: 10vh;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    background-color: transparent;
}

.appContent {
    background-color: transparent;
    height: 80vh;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 10vh;
    max-height: calc(100% - 100px);
    background-color: transparent;
}

.appContent > * {
    flex-shrink: 0;
}

.footer > * {
    flex-shrink: 0;
}

.header > * {
    flex-shrink: 0;
}

.centro {
    text-align: center;
}

.centralizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* forms */
input {
    border-radius: 10px;
}
.formContainer {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.formActions {
    margin: 10px 10px 10px 10px;
}

/**/
.content-pad-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-pad-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-pad-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-pad-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-pad-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-pad-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-pad-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.content-pad-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-pad-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.content-pad-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-pad-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.content-margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-margin-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pad-4 {
    padding-top: 4px;
}

.pad-6 {
    padding-top: 6px;
}

.pad-10 {
    padding-top: 10px;
}

.pad-20 {
    padding-top: 20px;
}

.pad-30 {
    padding-top: 30px;
}

.pad-40 {
    padding-top: 40px;
}

.pad-50 {
    padding-top: 50px;
}

.pad-60 {
    padding-top: 60px;
}

.pad-70 {
    padding-top: 70px;
}

.pad-80 {
    padding-top: 80px;
}

.pad-90 {
    padding-top: 90px;
}

.pad-100 {
    padding-top: 100px;
}

.bold {
    font-weight: bold;
}

.h8 {
    font-size: 13px;
}

h9 {
    font-size: 10px;
}


.white {
    color: white;
}